/* REPLACE ENTIRE FILE */
/* src/styles/global.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{

    width:100%;
    min-height:100%;

}

html{

    scroll-behavior:smooth;

}

body{

    background:#070915;

    color:#fff;

    font-family:"Inter",sans-serif;

    overflow-x:hidden;

}

#root{

    width:100%;

    min-height:100vh;

}

button,
input,
textarea{

    font:inherit;

}

button{

    border:none;

    outline:none;

    background:none;

    cursor:pointer;

}

input{

    outline:none;

    border:none;

    background:none;

    color:#fff;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

    color:inherit;

}

/* ===== REMOVE DEFAULT BROWSER ===== */

h1,
h2,
h3,
h4,
h5,
h6,
p{

    margin:0;

}

ul,
ol{

    list-style:none;

}

/* ===== SCROLLBAR ===== */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#655cff;

    border-radius:999px;

}

::-webkit-scrollbar-track{

    background:#090d1f;

}

/* ===== IMPORTANT ===== */

.home,
.header,
.hero,
.cards-grid,
.bottom-bar{

    position:relative;

    z-index:2;

}