.aurora{
    position:fixed;
    inset:auto;
    border-radius:999px;
    filter:blur(120px);
    opacity:.45;
    animation:float 18s ease-in-out infinite alternate;
    pointer-events:none;
    z-index:-2;
}

.aurora-1{
    width:600px;
    height:600px;

    background:#4F46E5;

    top:-180px;
    left:-120px;
}

.aurora-2{
    width:550px;
    height:550px;

    background:#2563EB;

    right:-120px;
    top:120px;

    animation-duration:24s;
}

.aurora-3{
    width:700px;
    height:700px;

    background:#7C3AED;

    bottom:-260px;
    left:35%;

    animation-duration:28s;
}

.grid-overlay{

    position:fixed;

    inset:0;

    background-image:

    linear-gradient(
    rgba(255,255,255,.035) 1px,
    transparent 1px),

    linear-gradient(
    90deg,
    rgba(255,255,255,.035) 1px,
    transparent 1px);

    background-size:42px 42px;

    mask-image:
    radial-gradient(circle,black 35%,transparent 100%);

    opacity:.18;

    pointer-events:none;

    z-index:-1;

}

.noise-overlay{

    position:fixed;

    inset:0;

    background:
    radial-gradient(
    rgba(255,255,255,.02) 1px,
    transparent 1px);

    background-size:20px 20px;

    opacity:.18;

    pointer-events:none;

    z-index:-1;

}

@keyframes float{

0%{

transform:
translate(0,0)
scale(1);

}

50%{

transform:
translate(90px,-40px)
scale(1.1);

}

100%{

transform:
translate(-70px,60px)
scale(.95);

}

}